.container {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: start;
    background: #fff;
    padding: 15px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.headers_container {
  width: 100%;
  height: 6vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1vw;
}
.header {
  width: 87%;
  height: 100%;
}
.right {
  height: 100%;
  background-image: linear-gradient( to left , var(--importantcolor) 1% , white );
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5vw;
  font-family: Bold;
  border-radius: 10px;
  padding: 0 15px;
  h1 {
    color: var(--solidwhite);
    font-size: 1.2vw;
  }
  svg {
    width: 35px;
    height: 33px;
  }
}
.back_container {
  width: 13%;
  height: 100%;
  padding: 0.3vw 0;
  background: var(--importantcolor);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 0.3vw;
  z-index: 1;
  cursor: pointer;
  svg {
    width: 18px;
    height: 24px;
  }
}
.back_img {
  width: 2vw;
  height: 2vw;
  margin: 0;
}
.back_txt {
  color: var(--solidwhite);
  font-family: Bold;
  margin: 0;
  font-size: 1.2vw;
}

.rest {
  margin-top: 20px;
  display: flex;
}
.both_container {
  width: 80%;
  max-height: 80vh;
  overflow-x: hidden;
}
.scroll_both {
  width: 100%;
  max-height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow-y: auto;
  gap: 1rem;
}
.form_styles {
  max-height: 122vh;
  display: flex;
  flex-wrap: wrap;
  grid-auto-rows: max-content;
  grid-template-columns: repeat(2, 1fr);
  flex-direction: column;
  align-items: flex-end;
}


.sec_header {
  width: 100%;
  display: grid;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  grid-template-columns: 25% 40% 25%;
}
.sec_name {
  color: #000;
  font-size: 1vw;
  font-family: Bold;
}
.left_line, .right_line {
  height: 0.14vw;
  background: #000;
}
.inputs {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  column-gap: 0.5vw;
  margin-bottom: 2vh;
}
.txt_inp {
    width: 21vw;
    height: 6vh;
    background: #FFFFFF;
    border: 0.4vw solid #C6C5DA;
    outline: none;
    border-radius: 10px;
    padding: 0 0.5vw;
    font-family: Bold;
}
.txt_lbl {
  color: #000;
  font-family: bold;
  font-size: 0.9vw;
}

.dropdown_container {
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    direction: ltr;
    margin-bottom: 2vh;
}
.dropdown_exept_txt {
  width: 21vw;
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-right: 0.5vw;
}
.displayBox {
    width: 87%;
    height: 6.3vh;
    background-color: #ffffff;
    border: 0.4vw solid #C6C5DA;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 10px;
    cursor: pointer;
    font-family: bold;
    font-size: 1.3vw;
}
.arrowBox {
    width: 13%;
    height: 6.3vh;
    background-color: #ffffff;
    border-top: 0.4vw solid #C6C5DA;
    border-right: 0.4vw solid #C6C5DA;
    border-bottom: 0.4vw solid #C6C5DA;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.tag_adder {
  width: 100%;
  height: 18vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  position: relative;
  direction: ltr;
  margin-bottom: 2vh;
}
.all_dropdown {
  width: 100%;
  height: 6.5vh;
  display: flex;
  align-items: center;
}
.dropdown_exept_txt2 {
  width: 61.4%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-right: 0.5vw;
}
.addBtn {
    width: 15%;
    height: 6.5vh;
    background-color: #6B69B2;
    border-top: 0.4vw solid #C6C5DA;
    border-bottom: 0.4vw solid #C6C5DA;
    border-left: 0.4vw solid #C6C5DA;
    border-right: none;
    outline: none;
    border-top-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.displayBox2 {
    width: 69%;
    height: 6.5vh;
    background-color: #ffffff;
    border: 0.4vw solid #C6C5DA;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 10px;
    cursor: pointer;
    font-family: bold;
    font-size: 1.3vw;
}
.arrowBox2 {
    width: 15%;
    height: 6.5vh;
    background-color: #ffffff;
    border-top: 0.4vw solid #C6C5DA;
    border-right: 0.4vw solid #C6C5DA;
    border-bottom: 0.4vw solid #C6C5DA;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.dropdownMenu2 {
    position: absolute;
    top: 50%;
    left: 9%;
    width: 51.7%;
    max-height: 17vh;
    background-color: #ffffff;
    border-radius: 6px;
    z-index: 100;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.418);
    overflow-y: auto;
    font-family: Bold;
    font-size: 1vw;
    opacity: 0;
    transform: scaleY(0.95);
    transform-origin: top;
    transition: all 0.5s ease;
    pointer-events: none;
    padding: 5px 0;
}
.tags_container {
    width: 60.7%;
    height: 12vh;
    border-left: 0.4vw solid #C6C5DA;
    border-right: 0.4vw solid #C6C5DA;
    border-bottom: 0.4vw solid #C6C5DA;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 0.7vh;
    display: flex;
    direction: rtl;
    flex-wrap: wrap;
    column-gap: 0.7vw;
    row-gap: 0.7vh;
}
.tag {
  max-height: 3.2vh;
  display: inline-flex;
  align-items: center;
  padding: 0.3vh 0.6vw;
  border-radius: 6px;
  background: #D6D5E4;
  border: 1px solid rgba(0,0,0,0.06);
  font-size: 0.9vw;
  column-gap: 0.1vw;
}
.tagText {
  font-size: 0.8vw;
  font-family: Bold;
  margin-left: 0.4vw;
}
.tagRemove {
    width: 0.8vw;
    height: 0.8vw;
    cursor: pointer;
}
.tags_empty {
    color: #999;
    font-size: 0.9vw;
    font-family: Bold;
    padding: 2.9px;
}


.dropdownMenu {
    position: absolute;
    top: 100%;
    width: 61%;
    max-height: 18vh;
    background-color: #ffffff;
    border-radius: 6px;
    z-index: 100;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.418);
    overflow-y: auto;
    font-family: Bold;
    font-size: 1vw;
    opacity: 0;
    transform: scaleY(0.95);
    transform-origin: top;
    transition: all 0.5s ease;
    pointer-events: none;
    padding: 5px 0;
}
.dropdownItem {
  background-color: var(--backcolor);
  margin-top: 5px;
  border-radius: 10px;
  padding: 0.6rem 0.8rem;
  cursor: pointer;
}
.dropdownItem:first-child {
  margin-top: unset;
}
.dropdownItem:hover {
  background-color: #69b0b2;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}


.simple_txt {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.txt_inp2 {
    width: 21vw;
    height: 6vh;
    background: #FFFFFF;
    border: 0.3vw solid #C6C5DA;
    outline: none;
    border-radius: 10px;
    padding: 0 0.5vw;
    font-family: Bold;
}


.choose {
    display: flex;
    flex-direction: column;
}
.dropdown_item {
  padding: 0.8rem 1rem;
  margin: none;
  cursor: pointer;
  user-select: none;
  font-family: Bold;
  background-color: var(--backcolor);
  margin-top: 5px;
  border-radius: 10px;
}
.dropdown_item:hover,
.dropdown_item.selected {
  background-color: #69B0B2;
  color: #fff;
  border-radius: 10px;
}
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.image_picker {
    width: 15%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    row-gap: 1.3vw;
}
.the_picker {
    width: 83%;
    height: 38%;
    background: #fff;
    border-radius: 10px;
    border: 0.3vw solid #C6C5DA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.picker_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
  transition: opacity 0.4s ease, transform 0.4s ease;
  opacity: 1;
  transform: scale(1);
  z-index: 1;
}
.picker_icon {
  width: 6vw;
  height: 6vw;
}
.preview_keeper {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.4s ease;
  pointer-events: none;
  z-index: 2;
}
.preview_keeper.show {
  opacity: 1;
  pointer-events: all;
}
.img_preview {
  max-width: 100%;
  max-height: 100%;
  border-radius: 12px;
  object-fit: contain;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.4s ease, transform 0.4s ease;
}
.img_preview.show {
  opacity: 1;
  transform: scale(1);
}
.picker_content.hide {
  opacity: 0;
  transform: scale(0.95);
  pointer-events: none;
}
.picker_text {
  font-size: 1vw;
  font-family: Bold;
  color: #0000005c;
}
.picker-text.hide {
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
}
.picker-text.show {
  opacity: 1;
  transform: translateY(0);
}

.address {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: left;
  padding: 0.7vw 0 1vw 0;
  column-gap: 0.5vw;
}
.txt_area {
    width: 21vw;
    height: 20vh;
    background: #FFFFFF;
    border: 0.4vw solid #C6C5DA;
    border-radius: 14px;
    resize: none;
    outline: none;
    padding: 0.5vw;
    font-family: Bold;
    font-size: 0.8vw;
}

.submit_btn {
  width: 80%;
  height: 2.5vw;
  background: var(--importantcolor);
  border-radius: 7px;
  border: none;
  outline: none;
  color: #fff;
  font-family: Bold;
  font-size: 0.8vw;
  cursor: pointer;
}


.show {
  opacity: 1;
  transform: scaleY(1);
  pointer-events: auto;
}
.arrow {
    width: 1.5vw;
    height: 1.5vw;
    transition: transform 0.3s ease;
}
.rotate {
    transform: rotate(180deg);
}
.spacer {
    flex-grow: 1;
}
.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.25rem;
}
.scroll_both::-webkit-scrollbar,
.dropdownMenu2::-webkit-scrollbar,
.dropdownMenu::-webkit-scrollbar,
.dropdown_list::-webkit-scrollbar,
.dropdown_list2::-webkit-scrollbar,
.dropdown_list3::-webkit-scrollbar {
  display: none;
}


@media screen and (max-width: 1440px) {
  .right {
    svg {
      width: 31px;
      height: 28px;
    }
  }
}
@media screen and (max-width: 1024px) {
  .form_styles {
    height: 84vh;
  }

  .right {
    svg {
      width: 32px;
      height: 22px;
    }
  }
  
  .inputs {
    margin-bottom: 0.8vw;
  }
  .dropdown_container {
    height: fit-content;
    margin-bottom: 0.8vw;
  }

  .txt_inp {
    height: 4.5vh;
    font-size: 1vw;
    border-radius: 7px;
  }
  .txt_lbl {
    font-size: 1.2vw;
  }
  .displayBox {
    width: 84%;
    height: 4.5vh;
  }
  .arrowBox {
    width: 16%;
    height: 4.5vh;
  }
  .tag_adder {
    height: 12vh;
    margin-bottom: 0.8vw;
  }
  .all_dropdown {
    height: 4.5vh;
  }
  .dropdown_exept_txt2 {
    width: 63.5%;
  }
  .addBtn {
    width: 16%;
    height: 4.5vh;
  }
  .displayBox2 {
    width: 68%;
    height: 4.5vh;
  }
  .arrowBox2 {
    width: 16%;
    height: 4.5vh;
  }
  .tags_container {
    width: 63.5%;
    height: 8vh;
  }
  .tag {
    max-height: 2.7vh;
  }
  .tagText {
      font-size: 0.9vw;
  }
  .address {
    .txt_lbl {
      margin-top: 0.6vw;
    }
    .txt_area {
      height: 12vh;
      font-size: 1vw;
    }
  }

  .image_picker {
    width: 18%;
    height: 55vh; 
  }
}
@media screen and (max-width: 768px) {
  .form_styles {
    height: 95vh;
  }

  .right {
    h1 {
      font-size: 1.5vw;
    }
  }

  
  .back_container {
    p {
      font-size: 1.5vw;
    }
    svg {
      width: 13px;
      height: 16px;
    }
  }

  .sec_header {
    justify-content: right;
  }
  .sec_header2 {
    justify-content: right;
    grid-template-columns: 20% 49% 20%;
  }
  .sec_name {
    font-size: 1.4vw;
  }

  .inputs {
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-bottom: 0.2vw;
    .txt_inp {
      width: 90%;
      height: 3.8vh;
      font-size: 1.2vw;
    margin-top: 0.8vw;
    }
  }
  .txt_lbl {
    font-size: 1.4vw;
    margin-bottom: 0.2vw;
  }
  .dropdown_container {
    flex-direction: column-reverse;
    align-items: flex-end;
    margin-bottom: 0vw;
  }
  .dropdown_exept_txt {
    width: 90%;
    margin-right: 0;
  }

  .displayBox, .arrowBox, .addBtn, .arrowBox2, .displayBox2 {
    height: 3.8vh;
  }
  .displayBox {
    width: 85%;
  }
  .displayBox2 {
    width: 69%;
  }
  .arrowBox, .arrowBox2 {
    width: 15%;
  }
  .arrow {
      width: 2vw;
      height: 2vw;
      transition: transform 0.3s ease;
  }

  .tag_adder {
    align-items: flex-end;
  }
  .all_dropdown {
    height: 18vh;
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  .dropdown_exept_txt2 {
    width: 90%;
    margin-right: 0;
    margin-top: 0.4vw;
  }
  .tags_container {
    width: 90%;
    height: 13vw;
  }
  .tag {
    max-height: 1.8vh;
    border-radius: 3px;
    font-size: 0.9vw;
  }

  .address {
    flex-direction: column;
    .txt_area {
      width: 90%;
      height: 13vh;
      border-radius: 7px;
      font-size: 1.4vw;
    }
  }


  .image_picker {
    width: 20%;
    height: 50vh;
  }
  .the_picker {
    width: 100%;
  }
  .picker_icon {
    width: 10vw;
    height: 10vw;
  }
  .picker_text {
    font-size: 1.9vw;
  }

  .submit_btn {
    width: 100%;
    height: 4vw;
    font-size: 1.2vw;
  }
}