.container{
    width: 91%;
    height: 85vh;
    font-family: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add_new_student {
    width: 100%;
    background: var(--solidwhite);
    margin-top: 40px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    button {
        border: none;
        outline: none;
        padding: 16px 58px;
        border-radius: 6px;
        background: var(--importantcolor);
        color: var(--solidwhite);
        font-size: 1.4vw;
        font-family: Bold;
        cursor: pointer;
    }
}
.list_container {
    height: 74vh;
    margin-top: 25px;
    padding: 20px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background: var(--solidwhite);
}

.header{
  width: 100%;
  background-image: linear-gradient( to left , var(--importantcolor) 1% , white );
  padding: 10px 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  svg {
    width: 33px;
  }
  h1{
      margin: 0;
      font-size: 1.7vw;
  }
}
.right {
  font-family: extra-bold;
    display: flex;
    align-items: center;
    svg{
        margin: 0;
    }
    p{
        margin: 0;
        margin-right: 15px;
    }
    h1{
        padding-right: 15px;
    }
}
.filter{
    color: black;
    display: flex;
    align-items: center;
    column-gap: 0.5vw;
    p{
        margin: 0;
        margin-right: 5px;
    }
}
.search{
    background-color: white;
    padding: 5px;
    width: 400px;
    border: 2px solid var(--backcolor);
    display: flex;
    align-items: center;
    border-radius: 8px;

}
.search input{
    width: 100%;
    height: 100%;
    border: 0;
    font-size: 16px;
    font-family: bold;
    outline: 0;
}
.days{
    height: 80%;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    gap:15px;
    overflow-y: scroll;
}
.days::-webkit-scrollbar{
  display: none;
}
.table{
    overflow-y: scroll;
    max-height: 68vh;
    padding-bottom: 100px;
}
.table::-webkit-scrollbar{
    width: 10%;
}
.row{
    padding: 10px;
    width: 99%;
    background-color: var(--backcolor);
    margin-top: 10px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
}
.item{
    width: 20%;
    max-height: 50px;
    padding: 12px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    position: relative;
    p{
        margin: 0;
    }
}
.tooltip {
    position: absolute;
    bottom: 80%;
    left: -5%;
    visibility: hidden;
    opacity: 0;
    background: var(--importantcolor);
    color: #fff;
    font-family: Bold;
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 10px;
    margin-top: 8px;
    transition: opacity 0.3s ease-in-out;
    white-space: nowrap;
    z-index: 5;
}
.item:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
.item:nth-child(1){
    width: 26%;
    p {
        width: 90%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
.item:nth-child(2){
  width: 5.5%;
  height: 50px;
}
.item:nth-child(3){
    width: 7%;
}
.item:nth-child(4){
    width: 8%;
}
.item:nth-child(5){
    width: 5.5%;
}
.item:nth-child(6){
    width: 9%;
}
.item:nth-child(7){
    width: 6%;
}
.item:nth-child(8){
    width: 6%;
}
.item:nth-child(9){
    width: 14%;
}
.checkbox{
    width: 20px;
    height: 20px;
    border-radius: 20%;
    background-color: var(--outbutton);
    margin-left: 5px;
}
.x_panel {
  width: 8%;
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 7vw;
  }
}
.edit{
  color: white;
  width: 8%;
  padding: 5px;
  background-color: var(--importantcolor);
  border-radius: 8px;
  display: flex;
  align-items: center;   
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  p{
      margin: 0;
  }
}


@media screen and (max-width: 1024px){
  .item {
    font-size: 12px;
    max-height: 37px;
  }
  .edit {
    font-size: 12px;
  }
  .header{
    h1 {
      margin: 0;
      font-size: 1.5vw;
    }
    p {
      font-size: 1.1vw;
    }
  }
}
@media screen and (max-width: 768px){
  .container{
      padding: 10px 10px 12px 10px;
  }
  .item {
    font-size: 10px;
    max-height: 30px;
  }
  .edit {
    display: flex;
    font-size: 11px;
  }
  .header{
    padding: 5px 5px;
    .right {
      font-family: extra-bold;
        display: flex;
        align-items: center;
        svg{
            margin: 0;
            width: 20px;
        }
        h1{
          font-size: 2.2vw;
          padding-right: 9px;
        }
        p{
          font-size: 1.3vw;
          margin: 0;
          margin-right: 7px;
        }
    }
  }
  .search{
    width: 200px;
    height: 30px;
    img {
      width: 15px;
    }
  }
  .search input{
      font-size: 10px;
  }
  .item {
    img {
      width: 15px;
      height: 15px;
    }
  }
}