.status_element_keeper {
    min-width: 46vw;
    max-width: 60vw;
    height: 100%;
    background-color: var(--importantcolor);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    padding: 0px 15px;
}

.logo_warn {
    width: fit-content;
    height: 3.9vh;
    display: flex;
    align-items: center;
    column-gap: 0.5vw;
    padding-right: 0.5vw;
    min-width:200px;
    max-width: 424px;
    flex-shrink: 1;
    flex-grow: 1;
    white-space: normal;
    word-break: break-word;
    img {
        width: 40px;
    }
    p {
        font-family: Bold;
        color: var(--solidwhite);
        font-size: 0.6vw;
    }
}

.on_off_status,
.today,
.date,
.time {
    height: 3.9vh;
    display: flex;
    align-items: center;
    column-gap: 0.5vw;
    padding-right: 0.5vw;
    font-family: Bold;
    color: var(--solidwhite);
    font-size: 0.7vw;
    min-width: 25px;
    max-width: 150px;
    flex-shrink: 1;
    flex-grow: 1;
    white-space: normal;
    word-break: break-word;
}


.vertical_line {
    width: 1px;
    height: 22px;
    background-color: var(--solidwhite);
}