.container{
    width: 98%;
    height: 50vh;
    background-color: white;
    border-radius: 16px;
  position: relative;
  display: flex;
  margin: 0 auto;
}

.frame{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    object-fit: cover;
    
     
}
.swap{
    width: 100%;
    height: 100%;
    margin: 0;
   
       margin: 0;
   
}
:global(.slide){
    width: 100%;
    height: 100%;
  
}
.caption{

position: absolute;
color: white;
font-size: 24px;
bottom: 25px;
right: 80px;
font-family: bold;
z-index: 14;
}
.slide{
    position: relative;
}



.customButton {
  
  color: rgb(255, 255, 255);
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 34px;
  user-select: none;
  transition: background-color 0.3s ease;
  position: absolute;
   z-index: 10;
  bottom: 10px;
  left: 60px;
  rotate: 90deg;
  font-family: bold;
  
}
.customButtono{
 
  color: rgb(255, 255, 255);
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 34px;
  user-select: none;
  transition: background-color 0.3s ease;
  rotate: -90deg;
  position: absolute;
  z-index: 10;
  bottom: 12px;
  left: 174px;
   font-family: bold;
}




:global(.swiper-pagination) {
  position: absolute !important;
  left: 90px !important;
  top: auto !important;
  bottom:5px !important;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

/* استایل بولت‌ها */
:global(.swiper-pagination-bullet) {
  background: rgb(255, 255, 255) !important;
  width: 10px !important;
  height: 10px !important;
  opacity: 1 !important;
  margin: 4px !important;
}

:global(.swiper-pagination-bullet-active) {
  background: rgb(99, 98, 98) !important;
  opacity: 1;
}
.bottom{
    height: 60px;
    width: 100%;
    background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0),black);
    position: absolute;
    bottom: 0;
    z-index: 4;
    border-radius: 0 0 16PX 16PX;
}
@media screen and (max-width: 450px){
.container{
    width: 98%;
    height: 20vh;

}
}